body {
	/*gets random image for background*/
	background-image: url('https://picsum.photos/1920/1080?blur');
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;

}

/********************************************************
***********************NAV BAR***************************
********************************************************/

/*gets rid of default list look*/
ul {
	position: absolute;
	left: 0;
	right: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .35);

}

li {
    float: left;
}

/*make buttons*/
li a {
    display: block;
    color: white;
    font-family: "Helvetica",Sans-Serif;
    font-weight: lighter;
    font-size: 1em;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*changes background color on hover*/
li a:hover {
    background-color: rgba(0, 0, 0, .6);
}

/*makes button text be normal instead of blue underlined link*/
li a:link
{
   color: #ffffff;
   text-decoration: none;
}
/*makes button text not change after visit*/
li a:visited
{
   color: #ffffff;
   text-decoration: none;
}

/*shows what page you are on*/
a:active {
    background-color: rgba(0, 0, 0, 1);
}


/********************************************************
******************FORM DECORATION************************
********************************************************/
form {
    font-family: "Helvetica",Sans-Serif;
	font-size: 1em;
	text-decoration: none;
	color: #ffffff;
	background-color: rgba(0, 0, 0, .35);
	padding: 20px 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

#graph1 {
	font-family: "Helvetica",Sans-Serif;
	font-size: 1em;
	text-decoration: none;
	color: #ffffff;
	background-color: rgba(0, 0, 0, .35);
	padding: 20px 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}
