{% extends "base.html" %}
{% block page_content %}
<link rel = "stylesheet" href = "{{url_for('static', filename='style.css')}}">
<body>
	<!-- NAVIGATION BAR --> 
<div class = "everything">
	<nav id="navMenu"></nav>
	<script src="{{url_for('static', filename='interactive.js')}}"></script>
	<!-- PAGE CONTENT -->
	<div class = "infocontainer">
		<div class="headline"> 
			The Algorithm
		</div>
			<a href="https://github.com/danielferriss/ATS">
				<img src= "{{url_for('static', filename='images/logo.png')}}" class = "headlinepic" alt = "Logo should be here oops.">
			</a>
		<div class="info">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
		</div>
	</div>
</div>
</body>
{% endblock %}