{% extends "base.html" %}
{% block page_content %}
<link rel = "stylesheet" href = "{{url_for('static', filename='style.css')}}">
<body>

	<!-- NAVIGATION BAR -->
	<nav id="navMenu"></nav>
	<script src="{{url_for('static', filename='interactive.js')}}"></script>
	<ul id = "teamcontainer">
		<li class = "person">
			<img src= "{{url_for('static', filename='images/daniel.jpg')}}">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit
			</p>
		</li>
		<li class = "person">
			<img src= "{{url_for('static', filename='images/divya.jpg')}}">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit
			</p>
		</li>
		<li class = "person">
			<img src= "{{url_for('static', filename='images/jarrett.jpg')}}">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit
			</p>
		</li>
		<li class = "person">
			<img src= "{{url_for('static', filename='images/priyanka.jpg')}}">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit
			</p>
		</li>
		<li class = "person">
			<img src= "{{url_for('static', filename='images/edward.jpg')}}">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit
			</p>
		</li>
		<li class = "person">
			<img src= "{{url_for('static', filename='images/teja.jpg')}}">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit
			</p>
		</li>
		<li class = "person">
			<img src= "{{url_for('static', filename='images/anmol.jpg')}}">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit
			</p>
		</li>
	</ul>
</body>
{% endblock %}